<launch>

<include file="$(find nuturtle_description)/launch/load.launch">
    <arg name="color" value="red"/>
    <arg name = 'use_rviz' value = 'true' />
    <arg name = 'use_jsp' value = 'false' />
</include>

<node name="nusim_node" pkg="nusim" type="nusim_node"> 
    <rosparam param="rate" file="$(find nusim)/config/rate.yaml" />
    <rosparam command="load" file="$(find nusim)/config/initial.yaml" />
</node>

</launch>