<launch>

<param name= "rate" type="double" value="100"/>
<param name="wheel_left" type="string" value="red_wheel_left_joint" />
<param name="wheel_right" type="string" value="red_wheel_right_joint" />
<param name="body_id" type="string" value="red_base_footprint" />
<param name="odom_id" type="string" value="odom" />
<rosparam command="load" file="$(find nusim)/config/initial.yaml" />
<rosparam command="load" file="$(find nusim)/config/sensor.yaml" />
<rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml" />

<arg name = 'robot' default = 'nusim' />

<node name="landmarks_node" pkg="nuslam" type="landmarks_node" output = "screen"/> 

<group if="$(eval robot == 'nusim')">
    <include file="$(find nusim)/launch/nusim.launch"/>
</group>

</launch>