<launch>

    <include file="$(find nuturtle_description)/launch/load.launch">
        <arg name="color" value="red"/>
        <arg name = 'use_rviz' default = 'false' />
        <arg name = 'use_jsp' default = 'true' />
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="a" args="1 0 0 0 0 0 world red_base_footprint" />

    <include file="$(find nuturtle_description)/launch/load.launch">
        <arg name="color" value="green"/>
        <arg name = 'use_rviz' default = 'false' />
        <arg name = 'use_jsp' default = 'true' />
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="b" args="0 1 0 0 0 0 world green_base_footprint" />

    <include file="$(find nuturtle_description)/launch/load.launch">
        <arg name="color" value="blue"/>
        <arg name = 'use_rviz' default = 'false' />
        <arg name = 'use_jsp' default = 'true' />
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="c" args="-1 0 0 0 0 0 world blue_base_footprint" />

    <include file="$(find nuturtle_description)/launch/load.launch">
        <arg name="color" value="black"/>
        <arg name = 'use_rviz' default = 'false' />
        <arg name = 'use_jsp' default = 'true' />
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="d" args="0 -1 0 0 0 0 world black_base_footprint" />

    <node name="rviz" pkg ="rviz" type="rviz" args="-d $(find nuturtle_description)/config/multi_robot.rviz -f world"/>

</launch>